{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <ul>
            {% for row in allRows %}

                <li>#{{ row.id }} {{ row.email }}</li>

                <ul>
                    {% for purchaseOrder in row.purchaseOrders %}

                        <li>#{{ purchaseOrder.id }} {{ purchaseOrder.date|date('Y-m-d') }}</li>

                        <ul>
                            {% for purchaseOrderProduct in purchaseOrder.purchaseOrderProducts %}

                                <li>#{{ purchaseOrderProduct.product.id }} {{ purchaseOrderProduct.product.name }}

                                    <small>[ Quantity {{ purchaseOrderProduct.quantity }} ]</small>

                                    (#{{ purchaseOrderProduct.product.productCategory.id }} {{ purchaseOrderProduct.product.productCategory.name }})
                                </li>


                            {% endfor %}
                        </ul>

                    {% endfor %}
                </ul>

            {% endfor %}
        </ul>
    </div>
{% endblock %}
